name: System Monitor CI Pipeline

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Test + Coverage
      run: |
        docker build --target=test-cov -t sm:test-cov .
        docker run --rm \
          -v $(pwd)/coverage:/app/coverage \
          sm:test-cov

    - name: Build Docker image
      run: |
        docker build -t system-monitor:latest .

    - name: Upload Coverage
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: coverage
        path: coverage/